{% load staticfiles %}
{% block header %}

<header class="intro-header" style="background-image: url('{ % static img/home-bg.jp % }')">
<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Советы</h1>
                    <hr class="small">
                    <span class="subheading">Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% for post in post_list %}
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        {{post.name}}
                    </h2>
                    <h3 class="post-subtitle">
                        {{post.dese}}
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="#">Валентина</a> {{post.date}}</p>
            </div>
            <hr>
            {% endfor %}
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
